
<div class="panel panel-default login-box">
	<img src="images/logo-new.png" class="img-responsive center-block login-logo"/>

	<div class="alert alert-success" *ngIf="success">{{success}}</div>
	<div class="alert alert-danger" *ngIf="errorMessage">{{errorMessage.message}}</div>
	<form *ngIf="!success">
	<p>Enter your email address to recover your password.</p>
		<div class="form-group input-group">
			<span class="input-group-addon"><i class="fa fa-envelope-o"></i></span>
			<input type="email" placeholder="Email" [(ngModel)]="email" class="form-control" name="email"/>
		</div>
		
		<div class="form-group">
			<input type="submit" name="submit" value="Recover Password" 
			class="form-control btn-default" (click)="forgot()"/>
		</div>

		<a href="" class="btn form-control back-btn"><< Back</a>
	</form>
</div>